{>"layouts/manage" /}

{<body}
    <div class="grid-x grid-padding-x">
        <div class="row">
          <div class="large-9 columns">
            <h2>Edit Category</h2>
            <form method="post" action="/manage/categories/edit/{category._id}">
              <div class="row">
                <div class="large-9 columns">
                  <label>Name
                    <input name="name" type="text" value="{category.name}" />
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-9 columns">
                  <input type="submit" class="button" value="Submit">
                </div>
              </div>
              <input type="hidden" name="_csrf" value="{_csrf}">
              </form>
          </div>
        </div>
    </div>
{/body}
