body {
    margin: 10px;
}

ul, li{
	list-style: none;
}

.top-bar{
	margin-bottom:20px;
}

.book{
	text-align: center;
    border: 1px solid darkgrey;
    padding: 5px 3px;
}

.book h4{
	margin-top: 15px;
}

.price{
    margin:5px;
    font-size:18px;
}

.price span{
    color:green;
    background:#f4f4f4;
    padding:10px;
    border: 1px #ccc solid;
    border-radius: 50%;
}

h2 span{
    font-size:18px;
    border: 1px solid #2fa9aa;
}

footer{
	margin-top: 40px;
	padding:10px;
	text-align: center;
}
