{>"layouts/master" /}

{<body}
        <div class="grid-x grid-padding-x">
            {#books}
                <div class="large-3 columns book end">
                    <img src="/img/{.cover}">
                    <h4>{.title}</h4>
                    <p>{.truncText}</p>
                    <div class="price">Buy it for <span>${.price}</span></div>
                    <br>
                    <a href="/books/details/{._id}" class="button small">Book Details</a>
                </div>
            {/books}
    	</div>
{/body}
