{>"layouts/master" /}

{<body}
    <div class="grid-x grid-padding-x">
        <div class="medium-4 columns cell book">
  	   <img src="/img/{book.cover}">
  	</div>
    <div class="medium-8 columns cell book">
  		<h2>{book.title}</h2>
        <ul class="bookInfo">
            <li>Category: {book.category}</li>
            <li>Author: {book.author}</li>
            <li>Publisher: {book.publisher}</li>
        </ul>
        <br>
        <div class="price"><span>${book.price}</span></div>
        <br>
        <p>{book.description}</p>

        <form method="post" action="/cart/{book._id}">
            <input type="submit" class="button success" value="Add To Cart">
            <input type="hidden" value="{_csrf}" name="_csrf">
        </form>
  	</div>
{/body}
