{>"layouts/manage" /}

{<body}
    <div class="grid-x grid-padding-x">
        <div class="medium-8 columns cell">
            <h2>Edit Book</h2>
        </div>
    </div>

    <form method="post" action="/manage/books/edit/{book._id}">
        <div class="grid-x grid-padding-x">
            <div class="medium-8 columns cell">
                  <label>Title
                    <input type="text" name="title" value="{book.title}" />
                  </label>
            </div>
            <div class="medium-8 columns cell">
                  <label>Author
                    <input type="text" name="author" value="{book.author}" />
                  </label>
            </div>
            <div class="medium-8 columns cell">
                  <label>Publisher
                    <input type="text" name="publisher" value="{book.publisher}" />
                  </label>
            </div>
            <div class="medium-8 columns cell">
                  <label>Price
                    <input type="text" name="price" value="{book.price}" />
                  </label>
            </div>
            <div class="medium-8 columns cell">
                  <label>Category: {book.category}
                    <select name="category">
                      <option value="{book.category}">{book.category} </option>
                    {#categories}
                      <option value="{.name}">{.name} </option>
                    {/categories}
                    </select>
                  </label>
            </div>
            <div class="medium-8 columns cell">
                  <label>Description
                    <textarea rows="4" name="description">{book.description}</textarea>
                  </label>
            </div>
            <div class="medium-8 columns cell">
                    <label>Cover URL
                      <input name="cover" type="text" value="{book.cover}"/>
                    </label>
            </div>

            <div class="medium-8 columns cell">
                  <input type="submit" class="button" value="Submit">
            </div>
        </div>
        <input type="hidden" name="_csrf" value="{_csrf}">
        </form>
{/body}
